{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
{{super() }}
<body background="{{ url_for('static', filename='img/background.jpg') }}"></body>

<style>
	.jumbotron {
	    border-radius: 30px;
	    background-color: #E1E1FA;
	}

	<style>
	table {
	  border-collapse: separate;
	  border-spacing: 5px 0; 
	}
	td {
	  padding: 5px 5px;
	  height: 90px;
	  width: 90px;
	}

</style>
{% endblock body %}


{% block base_content %}
<div class="container" style="margin-top:20px">
 <div class="col-md-9 col-md-offset-2 centerfy">
	<div class="jumbotron">
	<div class="container">
	   <div class="col-md-9 col-md-offset-1 centerfy">
		<div align=center><h3 class=""><font color=#008080><b><i>Restaurant attributes edit</i></b></font></h3></div>
		<hr class="featurette-divider">
		{% if error_message %}
				  <div class="bs-example">
				    <div class="alert alert-danger alert-error">
					<a href="#" class="close" data-dismiss="alert">&times;</a>
					<strong>Error!</strong> {{error_message}}
				    </div>
				  </div>
		{% elif result_message %}
			<div class="alert alert-success">
  				  <a href="#" class="close" data-dismiss="alert">&times;</a>
  				  <strong>Success!</strong> {{ result_message }}
			</div>
		{% endif %}
		<form method="POST" action="{{ url_for('main.restaurant_attributes',name=user['name']) }}" id="form">
			 {{ form.csrf_token }}
			{#{{ attributes }}#}
			<div title="Select items to add">{{ wtf.form_field(form.cuisines) }}</div>
			<div title="Select items to delete">{{ wtf.form_field(form.cuisines_current) }}</div>
			<h6>To select multiple items, press ctrl</h6>
			<hr class="featurette-divider">
			<table>
			<tr><th colspan=4><b>Working days</b></th></tr>
			<tr>
				<td>{{ wtf.form_field(form.monday) }}</td>
				<td>{{ wtf.form_field(form.tuesday) }}</td>
				<td>{{ wtf.form_field(form.wednesday) }}</td>
				<td>{{ wtf.form_field(form.thursday) }}</td>
				<td>{{ wtf.form_field(form.friday) }}</td>
				<td>{{ wtf.form_field(form.saturday) }}</td>
				<td>{{ wtf.form_field(form.sunday) }}</td>
			</tr>
			</table>
			<table>
			<tr><th colspan=4><b>Order reception time</b></th></tr>
			<tr>
				<td align=center><b>from</b></td>
				<td>{{ wtf.form_field(form.openfrom_h) }}</td>
				<td>{{ wtf.form_field(form.openfrom_m) }}</td>
				<td align=center><b>to</b></td>
				<td>{{ wtf.form_field(form.opento_h) }}</td>
				<td>{{ wtf.form_field(form.opento_m) }}</td>
			</tr>
			</table>
			{{ wtf.form_field(form.min_price, value=attributes['min_payment']) }}
			{{ wtf.form_field(form.delivery_payment, value=attributes['delivery_payment']) }}
			{{ wtf.form_field(form.delivery_time, value=attributes['delivery_time']) }}
			{{ wtf.form_field(form.online_payment, value=attributes['online_payment']) }}
			<br>
			<div align=left><button type="submit" form="form" value="Submit" class="btn btn-primary">Update</button></div>
		</form>
		<br>
		<br>
	   </div>
	 </div>
  	 </div>{#jumbotron#}
 </div>
</div>


{% endblock base_content %}
