{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
{{ super() }}
<body background="{{ url_for('static', filename='img/background.jpg') }}"></body>
<style>
	.jumbotron .addr{
	    border-radius: 15px;
	    max-height: 200px;
	    padding: 10px 10px;
		
	}
	.jumbotron {
	    border-radius: 15px;
		
	}

	td
	{
	    padding:0 10px 0 20px;
	    max-width: 180px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.list-group-item{
	    
	    border-radius: 30px;
	    background-color:#CCCCDF;
	    width: 100%;
	}
	.glyphicon-plus{
		font-size: 20px;
		color: green;
	}
	.glyphicon-shopping-cart{
		font-size: 40px;
		color: green;
	}

</style>
<script type="text/javascript">
function radioCheck(flag, street, flr, entrance, passcode, station){
	document.getElementById("entrance").disabled = flag;
	document.getElementById("floor").disabled = flag;
	document.getElementById("street").disabled = flag;
	document.getElementById("passcode").disabled = flag;
	document.getElementById("station").disabled = flag;
	
	document.getElementById("street").value = street;
	document.getElementById("station").value = station;
	document.getElementById("entrance").value = entrance;
	document.getElementById("floor").value = flr;
	document.getElementById("passcode").value = passcode;
	
}

</script>
{% endblock body %}

{%block base_content %}

<hr class="featurette-divider">

	<div class="col-md-8 col-md-offset-2 centerfy">
	    <div class="jumbotron" style="background: #C0C0C0;">
	      <div class="container">
		     <div class="col-md-8 col-md-offset-3 centerfy">
		        <h3 class=""><font color=#008080><b><i>Contact and address information</i></b></font></h3>
			
		     </div>
		   
		     <div class="col-md-8 col-md-offset-2 centerfy">{#11111#}
			<hr class="featurette-divider">
			 {% if error_message %}
			  <div class="bs-example">
			    <div class="alert alert-danger alert-error">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				<strong>Error!</strong> {{error_message}}
			    </div>
			  </div>
		     {% elif result_message %}
			<div class="alert alert-success">
  				  <a href="#" class="close" data-dismiss="alert">&times;</a>
  				  <strong>Success!</strong> {{ result_message }}
			</div>
		     {% endif %}
			<form method="POST" action="{{ url_for('main.order_confirmation', name=name, city=city, restaurant_id=restaurant_id) }}" id="form">
				{{ form.hidden_tag() }}
				<h3>Contact information</h3>
				{{ wtf.form_field(form.name) }}
				{{ wtf.form_field(form.telephone) }}
			<hr class="featurette-divider">
				<h3>Address</h3>
			{% if addresses %}
			<div class="btn-group">
			<button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Saved addresses <span 							class="caret"></span></button>
			    <ul class="dropdown-menu" role="menu">
				{% for address in addresses['address_list']%}
				  {% if city==address['city'] %}
				<li style="width: 300px;">
				    <div class="jumbotron addr">
				     <input type="radio" name="address_check" onchange="radioCheck(false,'{{address['street']}}','{{address['floor']}}','{{address['entrance']}}','{{address['passcode']}}','{{address['station']}}');" 
					value="{{address['address_id']}}" id="{{address['address_id']}}"/>
					<b>{{address['street']}}</b>
					<table>
					<tr><td>{% if address['station'] %} Station: {{address['station']}} {% endif %}</td></tr>
					<tr><td>{% if address['entrance'] %} Entrance: {{address['entrance']}} {% endif %}</td></tr>
					<tr><td>{% if address['floor'] %} Floor: {{address['floor']}} {% endif %}</td></tr>
					<tr><td>{% if address['passcode'] %} Passcode: {{address['passcode']}} {% endif %}</td></tr>
					</table>
				    </div>
				</li>
				  {% endif %}
				{% endfor %}
			    </ul>
			</div>
			{# <br><br><h4><input type="radio" checked name="address_check" onchange="radioCheck(false, '', '', '', '', '');">New address</h4>#}
			<br><br>
			{% endif %}
				{{ wtf.form_field(form.street) }}
				{{ wtf.form_field(form.station) }}
			<table><tr>
				<td>{{ wtf.form_field(form.entrance) }}</td>
				<td>{{ wtf.form_field(form.floor) }}</td>
				<td>{{ wtf.form_field(form.passcode) }}</td>
			</tr></table>

			 <hr class="featurette-divider">
			
			    
			  
				{#{{ addresses }}#}

				<br>
				<button type="submit" class="btn btn-primary" id="form">Confirm order</button>
			</form>


		    </div>{#11111#}

	      </div>{#container#}
		<br>
	    </div>{#jumbotron#}
	</div>{#col-md#}
{%endblock base_content %}




