{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
{{ super() }}
<body background="{{ url_for('static', filename='img/background.jpg') }}"></body>
<style>
	.jumbotron {
	    border-radius: 15px;
	}

	td
	{
	    padding:0 10px 0 20px;
	    max-width: 180px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.list-group-item{
	    
	    border-radius: 30px;
	    background-color:#CCCCDF;
	    width: 100%;
	}
	.glyphicon-plus{
		font-size: 20px;
		color: green;
	}
	.glyphicon-shopping-cart{
		font-size: 40px;
		color: green;
	}

</style>
</script>

{% endblock body %}

{%block base_content %}

<hr class="featurette-divider">

	<div class="col-md-8 col-md-offset-2 centerfy">
	    <div class="jumbotron" style="background: #C0C0C0;">
	      <div class="container">
		     <div class="col-md-8 col-md-offset-4 centerfy">
		        <h3 class=""><font color=#008080><b><i>Order confirmation</i></b></font></h3>
			
		     </div>
		   
		     <div class="col-md-8 col-md-offset-2 centerfy">{#11111#}
			<hr class="featurette-divider">
			 {% if error_message %}
			  <div class="bs-example">
			    <div class="alert alert-danger alert-error">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				<strong>Error!</strong> {{error_message}}
			    </div>
			  </div>
		     {% elif result_message %}
			<div class="alert alert-success">
  				  <a href="#" class="close" data-dismiss="alert">&times;</a>
  				  <strong>Success!</strong> {{ result_message }}
			</div>
		     {% endif %}
			<div class="container">	
			<div class="jumbotron">
			<div align=center><h4><i><b>Order list</b></i></h4></div>
			<hr class="featurette-divider">
			<table border=0 align = center>
				<tr align="center">
					<td align=right><b>Title</b></td>
					<td><b>Price</b></td>
					<td><b>Amount</b></td>
				</tr>
				{% for order in order_list %}
					<tr align="center">
						<td align=right>{{order[2]}}</td><td>{{order[1]}}</td><td>{{order[0]}}</td>
					</tr>
				{% endfor %}
			</table><br>
			<div align=center>Delivery payment: {%if delivery_payment %}{{delivery_payment}}{%else%}0{%endif%}</div>
			{%if bonus_title %}<br>
			<div align=center>You've chosen: <b>{{bonus_title}}</b> for <b>{{bonus_price}} </b>points</div>
			{%endif%}<br>
			<div align=center><b>Total: {%if total %}{{total}}{%else%}0{%endif%}</b></div>
			<hr class="featurette-divider">
			<div align=center><h4><i><b>Contact and address information</b></i></h4></div>
			<hr class="featurette-divider">
			<table align=center >
				<tr><td align=right>name</td><td><b>{{client_data['name']}}</b></td></tr>
				<tr><td align=right>telephone</td><td><b>{{client_data['telephone']}}</b></td></tr>
				<tr title="{{client_data['street']}}"><td align=right>street</td><td><b>{{client_data['street']}}</b></td></tr>
			</table><br>		
			<div>
			<form action="{{ url_for('main.order_confirmation_check', city=city, restaurant_id=restaurant_id, name=name) }}"
				method='POST'>
				{% if online_payment_poss %}
				<div align=center>
				<input type="checkbox" name="checkbox" value="True"> Online payment
				</div>
				{% endif %}
				<br>
				<div align=center>
				<button type="submit" class="btn btn-success" name="confirm" title="Press to confirm">Confirm order</button>
				</div>
				<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
			</form>
			</div>
			</div>
			</div>


		    </div>{#11111#}

	      </div>{#container#}
		<br>
	    </div>{#jumbotron#}
	</div>{#col-md#}
{%endblock base_content %}




