{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
{{ super() }}
<body background="{{ url_for('static', filename='img/background.jpg') }}"></body>
<style>
	.jumbotron {
	    border-radius: 15px;
	}

	td
	{
	    padding:0 10px 0 20px;
	    max-width: 180px;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.list-group-item{
	    
	    border-radius: 30px;
	    background-color:#CCCCDF;
	    width: 100%;
	}
	.glyphicon-plus{
		font-size: 20px;
		color: green;
	}
	.glyphicon-shopping-cart{
		font-size: 40px;
		color: green;
	}

</style>
<script type="text/javascript">
function findTotal(min_payment){
    var arr = document.getElementsByName('order_list');
    var prr = document.getElementsByName('price_list')
    var tot=0;
    for(var i=0;i<arr.length;i++){
        if(parseFloat(arr[i].value))
            tot += parseFloat(arr[i].value)*parseFloat(prr[i].value);
    }
    document.getElementById('total').value = tot;
    if(tot < min_payment )
	document.getElementById("confBtn").disabled = true;
    else
	document.getElementById("confBtn").disabled = false;
}


</script>

{% endblock body %}

{%block base_content %}

<hr class="featurette-divider">

	<div class="col-md-8 col-md-offset-2 centerfy">
	    <div class="jumbotron" style="background: #C0C0C0;">
	      <div class="container">
		     <div class="col-md-8 col-md-offset-4 centerfy">
		        <h3 class=""><font color=#008080><b><i>Restaurant menu</i></b></font></h3>
			
		     </div>
		   
		     <div class="col-md-8 col-md-offset-2 centerfy">{#11111#}
			<hr class="featurette-divider">
			 {% if error_message %}
			  <div class="bs-example">
			    <div class="alert alert-danger alert-error">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				<strong>Error!</strong> {{error_message}}
			    </div>
			  </div>
		     {% elif result_message %}
			<div class="alert alert-success">
  				  <a href="#" class="close" data-dismiss="alert">&times;</a>
  				  <strong>Success!</strong> {{ result_message }}
			</div>
		     {% endif %}
			{% if menu_data %}
			<form method="GET" action="{{url_for('main.order_confirmation',name=name, city=city, 
							restaurant_id=restaurant_id) }}">
			{% if client %}
			<div align="center">
				<b>You have {{points}} points</b><br>
			</div><br>
			{% endif %}
			{% for menu in menu_data['menu']['menu_items'] %}
			{% if (client and not menu['bonus']) or (client and menu['bonus'] and menu['price'] <= points) 
							or (not client and not menu['bonus']) %}
			{#<hr class="featurette-divider">#}
			<div class=container align=center>
			<div class="list-group">
			
			<div href="#" class="list-group-item">
			    {% if menu['bonus'] %}<font color="#3EA055"><b>Bonus</b></font>{% else %}<font color="#9C3B3B">
				 <b>Menu item</b> </font>{%endif%}</b></h5>
			    <div class="list-group-item-text">
			     <table title="{{menu['title']}}">
				<tr>
					<td align=right>{% if menu['price'] %} Title:</td>
					<td><b>{{menu['title']}}</b> {% endif %}</td>				
				</tr>
				<tr>
					<td align=right>{% if menu['price'] %}{%if menu['bonus']%} Points:{%else%} Price:{%endif%}</td>
					<td><b>{{menu['price']}}</b> {% endif %}</td>
				</tr>
				<tr>
					<td align=right>{% if menu['info'] %} Info:</td>
					<td><b>{{menu['info']}} {% endif %}</b></td>
				</tr>
				
			      </table>
			     <br>
				<table>
				<tr>
					 {%if not menu['bonus']%}<td>Amount:</td>{%endif%}
					<td>
					    {%if not menu['bonus']%}
					          <input size="5" value="0" name="order_list" 
							onchange="findTotal({{min_payment}});"
							id="{{menu['menu_item_id']}}" type="number" min="0" max="99"/>
						 
				            {% else %}
						  <input size="5" value="0" name="order_list"
							id="{{menu['menu_item_id']}}" type="hidden" min="0" max="99"/>
						  <input size="5" value="{{menu['menu_item_id']}},{{menu['price']}},{{menu['title']}}" 									name="bonus_list"
							id="{{menu['menu_item_id']}}" type="radio" ondblclick="this.checked=false;"/>
					    {% endif %}
					    <input type="hidden" {%if not menu['bonus']%}value="{{menu['price']}}"{%else%}value="0"
							{%endif%} name="price_list"/>
					    <input type="hidden" value="{{menu['menu_item_id']}}" name="menu_item_list"/>
					    <input type="hidden" value="{{menu['title']}}" name="menu_title_list"/>
					
					</td>
				</tr>
				
				</table>
			    </div>
			</div>
			
			</div>
			</div>{#CONTAINER DIV#}
			{% endif %}
			{% endfor %}
			<hr class="featurette-divider">
			<div align=center><b>Minimal order cost is {{min_payment}}</b></div><br>
			<div align=center>
				<b>Total</b> : <input type="text" name="total" value="0" id="total" readonly/><br>
			</div><br>
			<div align=center>
				<button type="submit" class="btn btn-primary" name="confBtn" id="confBtn" 
					title="Press to continue" disabled>
					Confirm	</button>
			</div>
			</form>
			
				{#<div align=center><h4>Sorry, but this restaurant has not yet created menu!</h4></div>#}
			{% endif %}
		    </div>{#11111#}

	      </div>{#container#}
		<br>
	    </div>{#jumbotron#}
	</div>{#col-md#}
{%endblock base_content %}




