{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
{{ super() }}
<body background="{{ url_for('static', filename='background.jpg') }}"></body>
<style>
	.jumbotron {
	    border-radius: 30px;
	}
	td
	{
	    padding:0 15px 0 15px;
	}
</style>
{% endblock %}

{% block content %}
	<br><br><br>
	<div class="col-md-5 col-md-offset-3 centerfy" >
	    <div class="jumbotron" style="background: #D0D0D0;">
	      <div class="container">	
		<div align=center><h4><b><i>Online payment center</i></b></h4></div>
		<form method="POST" action="{{url_for('payment_online', redirect_uri=redirect_uri)}}" id="form">
			{{form.hidden_tag()}}
			<table>
			  <tr>{{ wtf.form_field(form.card_number) }}</tr>
			  <tr><th><b>Valid thru</b></th></tr>
			  <tr>
			  	<td>{{ wtf.form_field(form.valid_thru_month) }}</td>
				<td>{{ wtf.form_field(form.valid_thru_year) }}</td>
			  </tr>
			  <tr>{{ wtf.form_field(form.card_holder_name) }}</tr>
			  <tr><td>{{ wtf.form_field(form.cv_code) }}</td><td><img src="{{ url_for('static',filename='vm.jpg') }}" width="80" height="30"></td></tr>
			</table>
			<br>
			<div align="center"><button type="submit" class="btn btn-md btn-success" id="form">Submit</button></div>
		</form>
	      </div>
	    </div>
	</div>

{% endblock %}
